<?xml version="1.0"?>
<config>
    <modules>
        <Womza_ApplicationRegistration>
            <version>0.1.0</version>
        </Womza_ApplicationRegistration>
    </modules>
    <!-- frontend -->
    <frontend>
        <routers>
            <applicationregistration>
                <use>standard</use>
                <args>
                    <module>Womza_ApplicationRegistration</module>
                    <frontName>applicationregistration</frontName>
                </args>
            </applicationregistration>
            <customer>
                <args>
                    <modules>
                        <Womza_ApplicationRegistration before="Mage_Customer">Womza_ApplicationRegistration_Customer</Womza_ApplicationRegistration>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <applicationregistration>
                    <file>applicationregistration.xml</file>
                </applicationregistration>
            </updates>
        </layout>
    </frontend>

    <!-- adminhtml -->
    <adminhtml>
        <menu>
            <customer translate="title" module="applicationregistration">
                <children>
                    <set_time>
                        <title>Application of Register</title>
                        <action>applicationregistration/adminhtml_applicationregistration</action>
                        <sort_order>200</sort_order>
                    </set_time>
                </children>
            </customer>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Womza_ApplicationRegistration>
                            <title>ApplicationRegistration Module</title>
                            <sort_order>200</sort_order>
                        </Womza_ApplicationRegistration>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <applicationregistration>
                    <file>applicationregistration.xml</file>
                </applicationregistration>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <applicationregistration>
                <use>admin</use>
                <args>
                    <module>Womza_ApplicationRegistration</module>
                    <frontName>applicationregistration</frontName>
                </args>
            </applicationregistration>
        </routers>
    </admin>

    <!-- global -->
    <global>
        <models>
            <applicationregistration>
                <class>Womza_ApplicationRegistration_Model</class>
                <resourceModel>applicationregistration_resource</resourceModel>
            </applicationregistration>
            <applicationregistration_resource>
                <class>Womza_ApplicationRegistration_Model_Resource</class>
                <entities>
                    <registration>
                        <table>applicationregistration</table>
                    </registration>
                </entities>
            </applicationregistration_resource>
        </models>
        <resources>
            <applicationregistration_setup>
                <setup>
                    <module>Womza_ApplicationRegistration</module>
                    <class>Womza_ApplicationRegistration_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </applicationregistration_setup>
            <applicationregistration_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </applicationregistration_write>
            <applicationregistration_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </applicationregistration_read>
        </resources>
        <!-- helper -->
        <helpers>
            <applicationregistration>
                <class>Womza_ApplicationRegistration_Helper</class>
            </applicationregistration>
        </helpers>
        <!-- start of block -->
        <blocks>
            <applicationregistration>
                <class>Womza_ApplicationRegistration_Block</class>
            </applicationregistration>
        </blocks>
        <!-- email -->
        <applicationregistration>
            <label>Requests for records</label>
            <file>applicationregistration.html</file>
            <type>html</type>
        </applicationregistration>
    </global>
</config>