/*Sidebar Menu mt-effect-slide mt-menu-open*/
.mt-container {
    position: relative;
    overflow: hidden;
}
.mt-wrapper {
    position: relative;
    left: 0;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}
.mt-wrapper::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.mt-menu-open .mt-wrapper::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
.mt-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    width: 250px;
    height: 100%;
    background: #2d2d2d;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    overflow: auto;
}
.mt-menu a {
    border-bottom: 1px solid #565656;
	color: #FFFFFF;
}
.mt-menu li li a {
    background-color: #3F3F3F;
}
.mt-menu ul.nav-accordion li li a {
    padding-left: 30px;
}
.mt-menu ul.nav-accordion li li li a {
    padding-left: 45px;
	font-size: 13px;
}
.mt-menu ul.nav-accordion li li li li a {
    padding-left: 60px;
	font-size: 12px;
}
.mt-menu .mt-menu-active{
  display:block;
  overflow:hidden;
  border-bottom:1px solid #474747;
   padding: 0 15px;
   background: none repeat scroll 0 0 #1F1F1F;
}
.mt-menu ul.nav-accordion li ul li a{width:100%;}
.mt-menu .mt-menu-title {
	float:left;
}
.mt-menu .mt-menu-title h3 {
    color: #fff;
	margin: 12px 0;
    padding: 0px;
	text-transform: uppercase;
	font-size:14px;
}
.mt-menu .mt-menu-active {cursor: pointer;}
.mt-menu .mt-menu-active .navbar-toggle{
    width:100%;
	padding:0;
	margin: 0;
	line-height:18px;
}

.mt-menu .navbar-header .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
    height: 3px;
}
.navbar .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #474646;
}
.mt-menu .navbar-header {
    margin: 12px 0;
	text-align: left;
}
.navbar .navbar-toggle:hover {
    background-color: inherit;
}
.title-canvas{
   color: #FFFFFF;
    font-size: 14px;
    margin-left: 9px;
    text-transform: uppercase;
}
.mt-menu-active .mt-close-canvas{
     background: url("../images/close-canvas-menu.png") no-repeat scroll 0 0 transparent;
	  border: medium none;
    float: right;
    height: 16px;
    width: 17px;
}
.mt-menu ul.nav-accordion li a {
    padding-left: 15px;
	color: #FFFFFF;
	font-size: 14px;
	 margin: 0;
}
.mt-menu a:hover {
    background-color: #3F3F3F;
    color: #FFFFFF;
}
.mt-menu ul.nav-accordion li span.expand {
    background-image: url("../images/opener-active.png");
}
.mt-menu ul.nav-accordion li span.expand{
     background-position: 0 0;
}
.mt-menu ul.nav-accordion li span.collapse{
     background-image: url("../images/opener.png");
}
.mt-menu ul.nav-accordion li span.collapse{background-position: 0 0;}

.mt-menu ul.nav-accordion li span.collapse,
.mt-menu ul.nav-accordion li span.expand{
     height: 30px;
	 right: 3px;
	 top: 2px;
    width: 30px;
}
.navbar-inverse{ background-color: inherit; border-color:none !important;}
.mt-menu-open .mt-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
/* Effect:Slide along */
.mt-effect-slide.mt-menu-open .mt-wrapper {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.mt-effect-slide.mt-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -o-transition: translate3d(-100%, 0, 0);
}

.mt-effect-slide.mt-menu-open .mt-effect-slide.mt-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -o-transition: translate3d(0, 0, 0);
}

.mt-effect-slide.mt-menu::after {
    display: none;
}
.mt-effect-slide.mt-menu-open .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    left: 250px;
    z-index: 9999;
}
/**STYLE DRILLMENU**/
.mt-drillmenu {
    float: left !important;
    margin-left: 0 !important;
    width: 100% !important;
}
.nav-accordion { width: 100%; }
ul.nav-accordion {
    line-height: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.nav-accordion li {
    position: relative;
}

ul.nav-accordion li a {
    display: block;
    font-size: 100%;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
    padding:0;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: capitalize;
    border-bottom: 1px solid #eeeeee;
}
ul.nav-accordion li ul li a{
    padding: 0 0 0 16px;
	font-size:93%;
}
ul.nav-accordion ul {
    display: none;
    margin: 0;
    padding: 0;
}
ul.nav-accordion ul li {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.nav-accordion ul li.active { font-weight: bold; }
ul.nav-accordion ul ul li a {
    padding-left: 32px;
}
ul.nav-accordion ul ul ul li a {
    padding-left: 45px;
}
ul.nav-accordion ul ul li a:hover {  }

ul.nav-accordion li span.expand, ul.nav-accordion li span.collapse {
    background: url("../images/icon-accodion.png") no-repeat 0 100%;
    cursor: pointer;
    display: block;
    height: 25px;
    position: absolute;
    right: 0px;
    top: 6px;
    width: 25px;
    z-index: 1;
    text-indent: -999em;
}
ul.nav-accordion li span.expand{
    background-position: 0 0;
}
ul.detail-parent {
    margin: 0px;
    padding: 0 0 0 17px;
}
.navbar .btn-navbar {
    background-image: none !important;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none !important;
    float: left !important;
    margin: 9px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.navbar .brand {
    font-size: 130% !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding-left: 20px !important;
    text-shadow: none !important;
    text-transform: uppercase !important;
}
.navbar .btn-navbar .icon-bar { background-color: #FFFFFF !important; }
ul.nav-accordion li.level0 > a > span > .cat-label {
    position: inherit;
}
ul.nav-accordion li.level0 > a > span > .pin-bottom:before {
    position: inherit;
    right: 6px;
    top: 22px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 0px;
}
/**END STYLE DRILLMENU**/