.mt-navigation{
    margin: 0 0 10px;
    border-bottom: 1px solid #ECECEC;
}
.cms-home .mt-navigation{
    border-bottom: none;
}
.mt-main-menu{
    padding:0;
}
#mtnav {
  margin: 0;
  padding: 0;
  position: relative;
  width: auto;
}
#mtnav li{
    float: left;
    padding: 0;
    text-align: left;
}
#mtnav li.level0 {
    display: block;
    line-height: 50px;
    position: static;
}
.header-layout10 #mtnav li.level0.parent{ border: 1px solid #fff }
.header-layout9 #mtnav li.level0{ line-height: 60px }
#mtnav a, #mtnav a:hover {
  display: block;
  outline: none;
  text-decoration: none;
}
#mtnav a {
  float: left;
  font-size: 115%;
  margin: 0;
  outline: medium none;
  outline: none;
  padding: 0 28px;
  text-decoration: none;
  text-transform: uppercase;
}
#mtnav > li.parent > a{ padding-right: 38px }
#mtnav a.level-top i.fa-angle-down{
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 80%;
}
#mtnav a, #mtnav a:hover {
  display: block;
  outline: none;
  text-decoration: none;
}
#mtnav span {
  cursor: pointer;
  display: block;
  white-space: nowrap;
}
#mtnav li.active a.level-top {
  outline: none;
}
#mtnav a, #megamenu a, #mtnav li.level0 a {
  position: relative;
}
.header-layout10 #mtnav li.level0.parent:hover a{
    z-index: 1000;
}
#mtnav li.level0 ul li a:hover {
  outline: medium none;
  text-decoration: none;
}
/*Label category*/
li.level0 > a > span > .cat-label {
    font-size: 10px;
    line-height: 17px;
    padding: 0 6px;
    position: absolute;
    right: 9px;
    top: -6px;
}
.cat-label-label1 {
  background-color: #393939;
  color: #ffffff;
}
.cat-label-label2 {
  background-color: #e1449b;
  color: #ffffff;
}

li.level0 > a > span > .cat-label-label1.pin-bottom:before {
  border-top-color: #393939;
}
li.level0 > a > span > .cat-label-label2.pin-bottom:before {
  border-top-color: #e1449b;
}
li.level1 > a > span > .cat-label {
  display: inline-block !important;
  padding: 0 4px;
  margin-left: 2px;
  vertical-align: top;
}
li.level0 > a > span > .pin-bottom:before {
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 4px;
    content: "";
    height: 0;
    position: absolute;
    right: 21px;
    top: 17px;
    transition: border-color 450ms ease-in-out 0s;
    width: 0;
}
.cat-label {
  padding: 2px 4px;
  font-size: 10px;
  line-height: 18px;
  transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
  -moz-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
  -webkit-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
  -o-transition: color 450ms ease-in-out, background-color 450ms ease-in-out;
}
/*dropdown mega*/

#mtnav li ul.shown-sub, #mtnav li div.shown-sub {
  left: 0;
  outline: none;
  width: 100%;
  z-index: 999;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 10px 0 15px;
}
.sub-wrapper ul li i.fa{
    position: absolute;
    top: 0;
    right: 12px;
    line-height: 31px;
}
div.shown-sub {
  left: 0;
  outline: none;
  width: 100%;
  z-index: 9;
}
#mtnav .sub-wrapper {
  display: none;
  left: -10000px;
  position: absolute;
  top: 50px;
  background-color: #fff;
  width: 100%;
  border-top: 3px solid;
}
.header-layout10 #mtnav .sub-wrapper{
    top: 49px;
}
.header-layout3 .sticky-header #mtnav > li, .header-layout4 .sticky-header #mtnav > li{
    border-left: none;
}
.sticky-wrapper .mt-navigation{ background-color: transparent; border-bottom: none }
#mtnav .sub-wrapper .mm-item-base {
  padding: 0 0 10px;
}
#mtnav li.level0 ul li {
  height: auto;
}
#mtnav .sub-wrapper ul {
  border: none;
  margin: 0px;
  padding: 0px;
  position: static;
  width: auto;
}
#mtnav ul.level0 li {
  float: left;
  outline: none;
  position: relative;
  margin-right: 2%;
  border-bottom: 1px solid #eeeeee;
}
#mtnav ul li, #mtnav ul li.active {
  background: none;
  margin: 0;
  padding: 0;
}
#mtnav li.level0 ul li ol {
  margin: 0 0 0 5px;
}
#mtnav li.level0 ul li.groups a {
  font-weight: normal;
  padding: 0;
  text-transform: uppercase;
}
#mtnav li.nav-2 .dropdown ul li a{background:none;}
#mtnav li.level0 ul li.parent a {
/* background: url("../images/bg-li-menu-parent.png") no-repeat scroll 95% 50% transparent; */
}
#mtnav .dropdown ul li a,#mtnav .dropdown ul li ul li a{
/*  padding:0px !important ; */
}
#mtnav .dropdown ul li a:hover{

}
#mtnav li.level0 ul li ul li a{
  border-bottom:1px solid #ececec;
}
#mtnav li ul span {
  white-space: normal;
}
#mtnav li.level0 ul li a{
  border: 0 none;
  display: block;
  font-size: 100%;
  height: auto;
  line-height: 31px;
  margin: 0;
  outline: medium none;
  padding: 0;
  text-transform: capitalize;
  width: 100%;
}
#mtnav li.level0 .groups-wrapper ul li a{
  border: 0 none;
  height: auto;
  line-height: 31px;
  margin: 0;
  outline: medium none;
  text-transform: capitalize;
  display:block;
  width: 100%;
}
#mtnav li.level0 ul li a span.title_group {
  padding: 0 0 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #C9C9C9;
}

#mtnav ul li ul.level1 li, #mtnav ul li ul.level2 li {
  border: 0;
  margin: 0;
  width: 100%;
  padding: 0px;
}
#mtnav li.level0 .groups-wrapper ul li a, #mtnav li.level0 ul li div.groups-wrapper ul li a{
  border-bottom:1px solid #ececec;
}
#mtnav li .shown-sub li div.shown-sub {
  left: 100%;
  top: -5px;
  width: 220px;
}
.groups-wrapper ul li.active a{
  color: #D24744 !important;
}
/*Dropdown classic*/
#mtnav li.m-dropdown {
  position: relative;
}
#mtnav .dropdown ul.level0 li{ width: 100% ;padding-bottom:0px;}
#mtnav .dropdown ul.level0 li.level1.groups{border-bottom: 1px solid #ececec; margin-top: 20px}
#mtnav .dropdown ul.level0 li.level1.first{margin-top: 0}
#mtnav .dropdown ul.level0 li.groups {border-bottom: none;}
#mtnav .sub-wrapper ul.level0 > li.groups > a i{display: none}
#mtnav .sub-wrapper .title_group{ font-size: 125% }
#mtnav .sub-wrapper .title_group,
#mtnav .sub-wrapper h1,
#mtnav .sub-wrapper h2,
#mtnav .sub-wrapper h3,
#mtnav .sub-wrapper h4,
#mtnav .sub-wrapper h5,
#mtnav .sub-wrapper h6{
  font-family: 'Rokkitt', serif;
  text-transform: capitalize;
}
#mtnav .sub-wrapper h3.product-name{
  font-family: 'Open Sans', sans-serif;
}
#mtnav li.m-dropdown .dropdown.sub-wrapper { width: 260px; max-width:290px;}
/*Block html*/
.mtmenu-block-level1-top {margin-bottom: 10px;}
.mtmenu-block-level1-bottom {margin-bottom: 10px;}
#mtnav .mtmenu-block .nav-block .section-line{
  border-bottom: 1px solid #FFFFFF;
  clear: both;
  display: block;
  line-height: 0;
  margin-bottom: 10px;
  padding-top: 10px;
}
#mtnav .mtmenu-block .nav-block a:hover{color:#000;text-decoration:none;}
.mtmenu-block .nav-block h3{font-size:140%;color:#fff;clear:both; padding: 10px 0 0;font-weight:normal;}
.mtmenu-block .nav-block p{font-size:100%;color:#323131;line-height: 25px;margin: 0;}
.mtmenu-block .custom-block h4{margin:0;color:#000;font-size:16px;padding: 0 0 10px;}
.mtmenu-block .custom-block p{ color: #323131;font-size: 13px;line-height: 25px;margin:0;margin: 10px 0 0;}
.container-top .grid12-4{margin-left:0px;}
.block-top-right img{padding-top: 10px;}
.block-top-right h3{color:#000;font-size:16px;margin-bottom:0px;}
.mtmenu-block-left h2{font-size: 18px;margin: 12px 0;}
.custom p.custom_category_menu_text{text-align:left;line-height: 20px;clear:both;color: #323131;font-size:13px;}

/* Menu Block Bottom */
#mtnav .mtmenu-block-bottom{
    background-color: #F1F1F1;
    margin-top: 10px;
    padding: 10px 15px;
}
#mtnav .mtmenu-block-bottom ul{
    list-style: none;
}
#mtnav .mtmenu-block-bottom ul li{
    float: left;
    margin: 0 10px 0 0;
    line-height: 31px;
}

/* Itemgrid: different numbers of columns
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Clear every first item in each row (row: group of n items) */

/* Item grid: 1 column */
.itemgrid-1col .item { width:98%; }

/* Item grid: 2 columns */
.itemgrid-2col .item { width:48%; }
.itemgrid-2col .item:nth-child(2n+1) { clear:left; }

/* Item grid: 3 columns */
.itemgrid-3col .item { width:31.333%; }
.itemgrid-3col .item:nth-child(3n+1) { clear:left; }

/* Item grid: 4 columns */
.itemgrid-4col .item { width:23%; }
.itemgrid-4col .item:nth-child(4n+1) { clear:left; }
.itemgrid-4col .item.dop { width:48%; }

/* Item grid: 5 columns */
.itemgrid-5col .item { width:18%; }
.itemgrid-5col .item:nth-child(5n+1) { clear:left; }
.itemgrid-5col .item.dop { width:38%; }

/* Item grid: 6 columns */
.itemgrid-6col .item { width:14.66%; }
.itemgrid-6col .item:nth-child(6n+1) { clear:left; }
.itemgrid-6col .item.dop { width:29.32%; }

/* Item grid: 7 columns */
.itemgrid-7col .item { width:12.286%; }
.itemgrid-7col .item:nth-child(7n+1) { clear:left; }


/*Grid column*/
.grid12-12, .grid-full {
  width: 98%;
}
.grid12-1, .grid12-2,
.grid12-3,
.grid12-4, .grid12-5,
.grid12-6, .grid12-7,
.grid12-8, .grid12-9,
.grid12-10, .grid12-11,
.grid12-12, .grid4-1,
.grid4-2, .grid4-3,
.grid2-1, .grid-full,
.grid-col2-sidebar,
.grid-col2-main {
  position: relative;
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

/* Grid units */
.grid12-1,
.grid12-2,
.grid12-3,
.grid12-4,
.grid12-5,
.grid12-6,
.grid12-7,
.grid12-8,
.grid12-9,
.grid12-10,
.grid12-11,
.grid12-12,

/* Deprecated: other grid units */
.grid4-1,
.grid4-2,
.grid4-3,
.grid2-1,

/* Alias for full-width units */
.grid-full,

/* Special grid units */
.grid-col2-sidebar,
.grid-col2-main
{
  position:relative;
  display:inline;
  float:left;
  margin-left:1%;
  margin-right:1%;
}

/* Basic grid units width */
.grid12-1	{ width:6.33%; }
.grid12-2	{ width:14.66%; }
.grid12-3,
.grid4-1	{ width:23%; }
.grid12-4	{ width:31.33%; }
.grid12-5	{ width:39.67%; }
.grid12-6,
.grid4-2,
.grid2-1	{ width:48%; }
.grid12-7	{ width:56.33%; }
.grid12-8	{ width:64.67%; }
.grid12-9,
.grid4-3	{ width:73%; }
.grid12-10	{ width:81.33%; }
.grid12-11	{ width:89.67%; }
.grid12-12,
.grid-full	{ width:98%; }


/* Menu */
.navbar{border:none;z-index: 5;float:left; padding: 0}
.navbar-toggle{ margin-right: 0 }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{ border: medium none;}
.navbar-collapse .nav-accordion{background-color:#F2F2F2 !important;border-top: 1px solid #FFFFFF;margin-top: 1px;}
.navbar-inverse .navbar-collapse ul.nav-accordion li a{color:##333333;padding-left: 10px;margin-bottom: 1px; text-transform: uppercase;font-size:14px;}
.navbar-inverse .navbar-collapse ul.nav-accordion li a:hover{color:#fff;background-color:#3C3C3C !important;}
.navbar-inverse .navbar-collapse ul.nav-accordion li{ line-height: 23px;}
.navbar-inverse .navbar-collapse ul.nav-accordion li a{ border-bottom: 1px solid #FFFFFF;}
.navbar-inverse .navbar-collapse ul.nav-accordion li ul li a{padding:0 0 0 20px;}
.navbar-inverse .navbar-collapse ul.nav-accordion li ul li ul li a{padding:0 0 0 20px;text-transform: capitalize;}
.navbar-inverse .navbar-collapse ul.nav-accordion li ul li ul li ul li a{padding:0 0 0 20px;font-size: 12px;}
.navbar-collapse ul.nav-accordion li ul li a {
  padding: 0 0 0 10px;
}
.navbar-inverse .navbar-collapse ul.nav-accordion li span.collapse{background-position: 7px 7px;}
.navbar-inverse .navbar-collapse ul.nav-accordion li span.expand{background-position: 7px 11px;}
.navbar-collapse ul.nav-accordion li span.expand,.navbar-collapse ul.nav-accordion li span.collapse{height:23px;}
.navbar-collapse ul.nav-accordion li span.expand:hover,.navbar-collapse ul.nav-accordion li span.collapse:hover{height:23px;background-color: #505050;}
.navbar-inverse .nav-accordion > .active > a, .navbar-inverse .nav-accordion > .active > a:hover,.navbar-inverse .nav-accordion > li > a:hover{
  background-color: #505050;
  color: #FFFFFF;
}
.navbar-inverse .navbar-toggle {
  border-color: #505050 !important;
  border:none;
  border-radius: 0 0 0 0;
  cursor: pointer;
}
.navbar-collapse.in{overflow:visible;}
.navbar-collapse{max-height: inherit !important;padding:0;}
.navbar-inverse button.active {background-color:#3C3C3C !important;}
.navbar-inverse .navbar-toggle .icon-bar{
  border-radius:0;
}
.navbar-header:hover{
/* background-color: #8AC20E !important; */
}
.navbar-header .navbar-brand {
  font-size: 130% !important;
  font-weight: bold !important;
  margin: 0 !important;
  text-shadow: none !important;
  text-transform: uppercase !important;
}
.navbar-header .navbar-brand {
  color: #656565 !important;
  font-weight: normal !important;
  text-shadow: 0 0 0 !important;
}
.navbar-header .navbar-brand {
  color: #FFFFFF !important;
  font-weight: normal !important;
  line-height: 14px !important;
  padding: 0 0 0 17px !important;
  text-shadow: 0 0 0 !important;
}
.popular-product{
  width: 39%;
}
.popular-product .product-hover{
  width: 16%;
}
.popular-product .top-actions-inner{
  width: 79%;
  margin-left: 5%;
}
.popular-product .popular-product-item{
  border-bottom: 1px solid #eeeeee;
  text-align: left;
  width: 100%;
}
.popular-product ul.products-grid li.item h3.product-name{
    float: left;
    text-align: left;
    width: 100%;
    margin: 0;
}
.popular-product ul.products-grid li.item .price-box{
  text-align: left;
  font-size: 100%;
}
.popular-product .main-heading{
    margin: 4px 0 8px;
    padding-bottom: 15px;
}
.popular-product .main-heading h3{
  font-size: 143%;
}
.popular-product .catpanel{
  padding: 4px 0;
  float: left;
  width: 100%;
}

/* Sidebar Popular Product */
.sidebar .popular-product{
    width: 100%;
    margin-bottom: 20px;
}
.sidebar .popular-product .popular-product-item{
    border: none;
    margin-bottom: 0;
    float: left;
}
.sidebar .popular-product .main-heading{
    margin-top: 0;
}

.custom-menu-right{
  margin-left: 4%;
  width: 57%;
  margin-top: 16px;
}
.custom-menu-right div{
  width: 48%;
  float: left;
}
.custom-menu-right div.custom1{ margin-right: 4% }

