.rtl .header .logo-wap a.logo { float:right; }
.rtl ul.links { float:left; }
.rtl ul.links a { direction:ltr; }
.rtl ul.links li, .rtl .form-language, .rtl .currency_top { float:right; }
.rtl .form-language .language-label { float:left; }
.rtl .header-top-left p.welcome-msg {
  float:right;
  padding:0 19px 0 0px;
  text-align:right;
}
.rtl .form-language .sbHolder .sbOptions { right:0px; }
.rtl .form-language .sbHolder .sbOptions li a {
  background-position:132px 8px !important;
  padding:5px 25px 5px 0;
  text-align:right;
}
.rtl .currency_top .sbHolder .sbOptions li a { text-align:right; }
.rtl .header-ajax {
  right:inherit;
  left:16px;
  direction:ltr;
}
.rtl .header-ajax .top-compare { float:right !important; }
.rtl .mt-icon-ajaxcart {
  text-align:right;
  padding:0 30px 0 0;
  background-position:right -96px;
}
.rtl .mt-cart .mt-ajax-container { overflow:hidden; }
.rtl .mt-ajax-checkout a { float:right; }
.rtl #mtnav li {
  float:right;
  text-align:right;
}
.rtl #mtnav li .shown-sub li div.shown-sub { left:0%; }
.rtl .grid12-1, .rtl .grid12-2, .rtl .grid12-3, .rtl .grid12-4, .rtl .grid12-5, .rtl .grid12-6, .rtl .grid12-7, .rtl .grid12-8, .rtl .grid12-9, .rtl .grid12-10, .rtl .grid12-11, .rtl .grid12-12, .rtl .grid4-1, .rtl .grid4-2, .rtl .grid4-3, .rtl .grid2-1, .rtl .grid-full, .rtl .grid-col2-sidebar, .rtl .grid-col2-main { float:right; }
.rtl .custom p.custom_category_menu_text { text-align:right; }
.rtl .mt-menu ul.nav-accordion li a {
  padding-right:15px;
  color:#ffffff;
}
.rtl .mt-menu ul.nav-accordion li li a { padding-right:30px; }
.rtl .mt-menu ul.nav-accordion li li li a {
  font-size:13px;
  padding-right:45px;
}
.rtl .mt-menu ul.nav-accordion li li li li a {
  font-size:12px;
  padding-right:60px;
}
.rtl .mt-menu ul.nav-accordion li li span.collapse, .rtl .mt-menu ul.nav-accordion li li span.expand { right:85%; }
.rtl .flexslider .slides { float:left; }
.rtl .sub-wrapper ul li i.fa {
  left:12px;
  right:inherit;
}
.rtl .header-block .header-block-item:first-child { border-right:none; }
.rtl .header-block .header-block-item:last-child { border-right:1px solid #ededed; }
.rtl .nav-wrapper { float:left !important; }
.rtl #mt-sticky-header .logo { float:right; }
.rtl #mt-sticky-header #mtnav {
  float:left;
  padding-left:0;
}
.rtl .footer-blog .blog-footer-item .col-sm-8 {
  padding-left:0;
  padding-right:15px !important;
}
.rtl .footer-container .footer-top .footer { text-align:right; }
.rtl .mt-social { float:left; }
.rtl .mt-social .pull-left { float:right !important; }
.rtl .ajaxcart, .rtl .mtajaxcompare {
  left:0;
  right:inherit;
}
.rtl .product-view.product-quick-view .product-shop .availability { text-align:right; }
.rtl .widget-static-block .custom .title h2 { float:right; }
.rtl .widget-static-block .custom .btn-purchase {
  float:left;
  margin-left:0;
}
.rtl .block-subscribe .block-title {
  margin-left:10px;
  margin-right:0;
}
.rtl .block-subscribe .block-title, .rtl .block-subscribe .block-content .input-box, .rtl .block-subscribe .block-content .actions { float:right; }
.rtl .footer .block-subscribe button.button {
  border-radius:3px 0 0 3px;
  -moz-border-radius:3px 0 0 3px;
  -webkit-border-radius:3px 0 0 3px;
  -ms-border-radius:3px 0 0 3px;
  -o-border-radius:3px 0 0 3px;
}
.rtl .mt-block-free { text-align:left; }
.rtl .product-view .product-shop .availability span.in-stock1 { text-align:right; }
.rtl .breadcrumbs li {
  float:right;
  background:url("../images/breadcrumbs-rtl.png") no-repeat scroll 0 50% transparent;
  padding:0 10px;
}
.rtl .breadcrumbs li:last-child { background:none; }
.rtl .breadcrumbs li:first-child { padding-left:10px; }
.rtl .breadcrumbs li.home { padding-right:10px; }
.rtl ul.nav-accordion li span.expand, .rtl ul.nav-accordion li span.collapse { text-align:right; }
.rtl .main, .rtl ul.nav-accordion li a { text-align:right; }
.rtl .block-layered-nav dd li { direction:ltr; }
.rtl ul.nav-accordion li span.collapse, .rtl ul.nav-accordion li span.expand { right:93%; }
.rtl .tags-list li { float:right; }
.rtl .toolbar .toolbar-top .sorter .view-mode a.list, .rtl .toolbar .toolbar-top .sorter .view-mode strong, .rtl .toolbar .toolbar-top .sorter .view-mode a.grid { text-align:right; }
.rtl .block-reorder ol#cart-sidebar-reorder li p.product-name {
  float:right;
  padding-right:5px;
}
.rtl .block-reorder ol#cart-sidebar-reorder li input { float:right; }
.rtl .block-wishlist .block-content li.item .product-details {
  padding-left:0;
  padding-right:15px;
}
.rtl .my-wishlist .title-buttons h1 {
  float:right;
  text-align:right;
}
.rtl ul.nav-accordion li.level0 > a > span > .cat-label { display:inline-block; }
.rtl .sidebar .block .block-title { direction:ltr; }
.rtl .category-products #products-list .std, .rtl .category-products .products-list .confix-produclist-category ul li a.link-wishlist, .rtl .category-products .products-list .confix-produclist-category ul li a.link-compare { text-align:right; }
.rtl .category-products #products-list .price-box, .rtl .category-products #products-list p.button-product-list, .rtl .category-products .products-list .confix-produclist-category { float:right; }
.rtl .category-products .products-list .confix-produclist-category { padding-right:5px; }
.rtl .category-products #products-list .product-name { text-align:right; }
.rtl .more-views-viewport .slides { float:left; }
.rtl .product-view .product-shop .availability span.in-stock1 { text-align:right; }
.rtl .product-view .product-shop, .rtl p.required { text-align:right; }
.rtl .product-shop .add-to-cart label, .rtl .product-shop .add-to-cart input.input-text, .rtl .product-view .product-shop .add-to-cart, .rtl .product-view .product-shop .product-options-bottom ul.add-to-links li { float:right; }
.rtl .product-view .product-shop .product-options-bottom ul.add-to-links li { width:100%; }
.rtl .product-view .product-shop .product-options-bottom ul.add-to-links li a.link-wishlist, .rtl .product-view .product-shop .product-options-bottom ul.add-to-links li a.link-compare {
  margin-left:10px;
  margin-right:0;
}
.rtl .product-view .product-img-box {
  padding-right:0 !important;
  padding-left:10px !important;
}
.rtl .product-view .product-shop {
  border-left:1px solid #ececec;
  border-right:none;
}
.rtl .product-tabs li {
  float:right;
  margin:0 0 0 15px;
}
.rtl .mousetrap { right:0 !important; }
.rtl .product-view .product-shop .product-options input.required-entry { text-align:right; }
.rtl .form-list label { float:right; }
.rtl .account-login .content h2 {
  background-position:100% 1px;
  padding:0 23px 5px 0;
}
.rtl .opc .step-title .number, .rtl .opc .step-title h2 { float:right; }
.rtl .form-list li.control input.radio, .form-list li.control input.checkbox, .rtl .form-list li.control label { float:right; }
.rtl .form-list li.control label { margin:-1px 10px 0 0px; }
.rtl .checkout-onepage-success .page-title h1 { text-align:center; }
.rtl .confix-produclist ul li a { text-align:right; }
.rtl .footer-container .footer-bottom .section-space .collapsible h3, .rtl .footer-container .footer-bottom .section-space .collapsible, .rtl .footer li, .rtl .footer p, .rtl .footer-container .footer-bottom .box-content-footer .box-content-top .icon-style-1 { text-align:right; }
.rtl .footer-container .footer-copyright .footer li {
  float:right;
  background-position:0% 50%;
}
.rtl .footer-container .footer-copyright .footer li.first {
  padding-right:0px;
  padding-left:10px;
}
.rtl .footer-container .footer-copyright address { text-align:right; }
@media (min-width: 940px) and (max-width: 1170px) {
  .rtl ul.nav-accordion li span.collapse, .rtl ul.nav-accordion li span.expand { right:90%; }
  .rtl ul.nav-accordion li ul li a { padding:0 5px 0 0; }
  .rtl ul.nav-accordion ul ul li a {
    font-size:90%;
    margin-right:5px;
  }
  .rtl ul.nav-accordion ul ul ul li a { margin-right:15px; }
  .rtl .product-view .product-shop { text-align:right !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
  .rtl ul.nav-accordion li span.collapse, .rtl ul.nav-accordion li span.expand { right:85%; }
  .rtl ul.nav-accordion li ul li a { padding:0 5px 0 0; }
  .rtl ul.nav-accordion ul ul li a {
    font-size:90%;
    margin-right:5px;
  }
  .rtl ul.nav-accordion ul ul ul li a { margin-right:15px; }
  .rtl .product-view .product-shop { text-align:right !important; }
}
