<?xml version="1.0"?>
<!--
/**
* @category    MT
* @package     MT_Widget
* @copyright   Copyright (C) 2008-2013 MagentoThemes.net. All Rights Reserved.
* @license     GNU General Public License version 2 or later
* @author      MagentoThemes.net
* @email       support@magentothemes.net
*/
-->
<config>
    <modules>
        <MT_Widget>
            <version>1.0</version>
        </MT_Widget>
    </modules>

    <frontend>
        <layout>
            <updates>
                <mtwidget>
                    <file>mt_widget.xml</file>
                </mtwidget>
            </updates>
        </layout>
    </frontend>

    <global>
        <models>
            <mtwidget>
                <class>MT_Widget_Model</class>
            </mtwidget>
        </models>
        <blocks>
            <mtwidget>
                <class>MT_Widget_Block</class>
            </mtwidget>
        </blocks>
        <helpers>
            <mtwidget>
                <class>MT_Widget_Helper</class>
            </mtwidget>
        </helpers>
    </global>

    <admin>
        <routers>
            <mtwidget>
                <use>admin</use>
                <args>
                    <module>MT_Widget</module>
                    <frontName>mtwidget</frontName>
                </args>
            </mtwidget>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <mtwidget>
                    <file>mt_widget.xml</file>
                </mtwidget>
            </updates>
        </layout>
    </adminhtml>
</config>