<?xml version="1.0"?>
<!--
/**
* @category    MT
* @package     MT_Extensions
* @copyright   Copyright (C) 2008-2013 MagentoThemes.net. All Rights Reserved.
* @license     GNU General Public License version 2 or later
* @author      MagentoThemes.net
* @email       support@magentothemes.net
*/
-->
<config>
    <tabs>
        <mtext translate="label">
            <label>MT Extensions</label>
            <sort_order>100</sort_order>
        </mtext>
    </tabs>
</config>