<?xml version="1.0"?>
<config>
    <modules>
        <MagenThemes_MTTheme>
            <version>2.2.2</version>
        </MagenThemes_MTTheme>
    </modules>
    <global>
        <models>
            <mttheme>
                <class>MagenThemes_MTTheme_Model</class>
            </mttheme>
        </models>
        <blocks>
            <mttheme>
                <class>MagenThemes_MTTheme_Block</class>
            </mttheme>
        </blocks>
        <helpers>
            <mttheme>
                <class>MagenThemes_MTTheme_Helper</class>
            </mttheme>
        </helpers>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <magenthemes_mttheme_system_layout_observer>
                        <type>singleton</type>
                        <class>MagenThemes_MTTheme_Model_System_Layout_Observer</class>
                        <method>unremoveUpdate</method>
                    </magenthemes_mttheme_system_layout_observer>
                </observers>
            </controller_action_layout_generate_xml_before>
        </events>
        <resources>
            <mttheme_setup>
                <setup>
                    <module>MagenThemes_MTTheme</module>
                    <class>MagenThemes_MTTheme_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mttheme_setup>
            <mttheme_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mttheme_write>
            <mttheme_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mttheme_read>
        </resources>
    </global>
</config>