<?xml version="1.0"?>
<!--
/**
 *
 * @category     MT
 * @package      MT_AjaxCart
 *
 * @copyright    Copyright (C) 2008-2013 MagentoThemes.net. All Rights Reserved.
 * @license      GNU General Public License version 2 or later;
 * @author       MagentoThemes.net
 * @email        support@magentothemes.net
 *
 */
-->
<config>
    <modules>
        <MagenThemes_AjaxCart>
            <version>2.0.1</version>
        </MagenThemes_AjaxCart>
    </modules>
    <frontend>
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>MagenThemes_AjaxCart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>
        </routers>
        <layout>
            <updates>
                <ajaxcart>
                    <file>magenthemes_ajaxcart.xml</file>
                </ajaxcart>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	       <ajaxcart>
				<use>admin</use>
				<args>
				    <module>MagenThemes_AjaxCart</module>
				    <frontName>ajaxcart</frontName>
				</args>
	       </ajaxcart>
        </routers>
    </admin>
    <adminhtml>
		<layout>
		    <updates>
			<ajaxcart>
			    <file>ajaxcart.xml</file>
			</ajaxcart>
		    </updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ajaxcart>
                <class>MagenThemes_AjaxCart_Model</class>
            </ajaxcart>
        </models>
        <resources>
            <ajaxcart_setup>
                <setup>
                    <module>MagenThemes_AjaxCart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcart_setup>
            <ajaxcart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcart_write>
            <ajaxcart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcart_read>
        </resources>
        <blocks>
            <ajaxcart>
                <class>MagenThemes_AjaxCart_Block</class>
            </ajaxcart>
        </blocks>
        <helpers>
            <ajaxcart>
                <class>MagenThemes_AjaxCart_Helper</class>
            </ajaxcart>
        </helpers>
    </global>
    <default>
		<ajaxcart>
		    <ajaxcart_config>
		    	<enable_ajaxcart>1</enable_ajaxcart>
		    	<enable_ajaxcompare>1</enable_ajaxcompare>
		    	<enable_ajaxwishlist>1</enable_ajaxwishlist>
		    	<enable_quickview>1</enable_quickview>
		    </ajaxcart_config>
		</ajaxcart>
    </default>
</config>